<template>
<div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" @click.prevent="close()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="exampleInputUsername1">Items</label>
                    <multiselect
                        name="product"
                        v-model="data.product"
                        v-validate="'required'"
                        track-by="id"
                        data-vv-as="Product"
                        :custom-label="labelProduct"
                        :options="products"
                        :taggable="true"
                        @tag="addProduct"
                        @update="updateSelectedTagging"
                    ></multiselect>
                    <div class="text-danger small">{{ veeErrors.first('product') }}</div>
                </div>   
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="exampleInputUsername1">Qty</label>
                    <input type="number" class="form-control" id="stock" v-model="data.stock" v-validate="'required|numeric'" name="stock" data-vv-as="Stock product">
                    <div class="text-danger small">{{ veeErrors.first('stock') }}</div>
                </div>
            </div>
        </div>
        <!-- <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-1">Add</button> -->
        <!-- <button type="submit" @click.prevent="close()" class="btn btn-danger mr-1">Close</button> -->
      </div>
      <div class="modal-footer">
        <button type="submit" @click.prevent="close()" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-1" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import AxiosMixin from './mixins/axiosMixins.js';

export default {
    props:['dataprop'],
    mixins:[AxiosMixin],
    data() {
         return {
            url:'/produsen/product',
            type:'',
            data:{
                stock: "1",
                product: [],
            },
            products:[],
         }

    },
    created(){
        this.initial()
    },
    methods:{  
        initial(){
          this.getData()
        },
        getData() {
          let self = this
          let ulrlist = `${this.url}/list`
          axios.get(ulrlist).then(function(response) {
              self.products = response.data
          })
        },
        addProduct (newTag) {
          const tag = {
            name: newTag,
            // price: newTag.Math.floor((Math.random() * 10000000))
          }
          this.products.push(tag)
          this.data.product.push(tag)
        }, 
        updateSelectedTagging (value) {
          this.data.product = value
        },
        labelProduct ({ name }) {
          return `${name}`
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                   this.toParent('addProduct', this.data)
                }
              });
        },
        axiosForm(value){
            let self = this
            let data = _.cloneDeep(value)
            data.idproduct = (typeof this.data.product.id!='undefined')?this.data.product.id:''
            data.product = JSON.stringify(data.product)
            if (this.product != 'undefined') {
              // console.log(this.product.id)
              let ulrUpdate = `${this.url}/update`
              let formData = this.formData(data)
              axios.post(ulrUpdate,formData).then(function(response) {
                  let msg = self.titleCase(self.type) + ' Success!'
                  self.$swal('Attention!', msg, 'success')
                  if(self.type==='add'){
                      self.data = response.data
                      self.clearAll()
                      self.close()
                  }
              })
              .catch(function(error) {
                  console.error(error);
              });
            } else {
              let formData = this.formData(data)
              axios.post(this.url,formData).then(function(response) {
                  let msg = self.titleCase(self.type) + ' Success!'
                  self.$swal('Attention!', msg, 'success')
                  if(self.type==='add'){
                      self.data = response.data
                      self.clearAll()
                      self.close()
                  }
              })
              .catch(function(error) {
                  console.error(error);
              });
            }
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        close(){
            this.toParent('close',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-modal', dataEmit)
        },      
    }
}
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
    .time {
      display: inline-block;
      align-items: center;
    }

    .time.before::before {
      content: "-";
    }
    .tarik-kiri{
        text-align:left!important;
    }
    .fixed{
        width: fit-content;
    }
    
</style>
