<template>
<div>
            <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="col-md-12 col-xl-12 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">                
                                                    <div class="ml-2">
                                                        <p>Product Management</p>
                                                        <p class="tx-11 text-muted">List product</p>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                   <a data-toggle="modal" data-target="#exampleModal" @click.prevent="isShowModalProduct=true" class="btn btn-primary mb-1 mb-md-0" href="#" ><i class="mdi mdi-plus-circle"></i> <span class="hide-on-small-onl">Add Product</span></a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Name</th>
                                                        <th >Unit</th>
                                                        <th >Price</th>
                                                        <th >Stock</th>
                                                        <th >Action</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody v-if="Array.isArray(dataList) && dataList.length!=0">
                                                    <tr v-for="(data,key,idx) in dataList" :key="idx">
                                                        <td>{{key+1}}</td>
                                                        <td>{{data.name}}</td>
                                                        <td>{{data.unit_id}}</td>
                                                        <td>{{data.price}}</td>
                                                        <td>{{data.stock}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary btn-icon">
                                                                <i class="mdi mdi-lead-pencil" @click="edit(data)"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-icon" @click="deleteData(key,data)">
                                                                <i class="mdi mdi-delete"></i>
                                                            </button>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    
                                                  </tbody>
                                                  <tbody v-else>
                                                    <tr>
                                                        <td colspan="7" rowspan="1">Tidak Ada Record</td> 
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                             <button class="btn btn-primary mb-1 mb-md-0" type="submit" name="action" @click.prevent="addMatkul">Select
                                <i class="mdi mdi-send"></i>
                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>

                    <div v-if="isShowModalProduct">
                        <FormModal @data-modal="getDataModal"></FormModal>
                    </div>
   
</div>
</template>

<script>
import FormModal from './Modal.vue';

export default {
    components: {  
        FormModal
    },
    props:['dataprop'],
    data() {
         return {
            url:'/produsen/product',
            name:'table',
            dataList: [],
            isShowModalProduct:false
            
         }

    },
    created(){
        this.initial()
    },
    methods:{  
        initial(){
            this.getData()
        },
        getDataModal(value){
            this.isShowModalProduct=!this.isShowModalProduct
        },
        getData() {
            let self = this
            let ulrlist = `${this.url}/list`
            axios.get(ulrlist).then(function(response) {
               self.dataList = response.data
            })
        },
        add(){
           this.toParent('add',this.dataList)
        },
        edit(data){
           this.toParent('edit',data)
        },
        deleteData(idx,data){
            // console.log(this.$swal)
            this.$swal({
                title: "Delete this order status?",
                text: "Are you sure? You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => { 
                if (result.value) { 
                    this.dataList.splice(idx, 1)
                    this.axiosDelete(data.id)
                }
            });
        },
        axiosDelete(id){
            let self = this
            let ulrlist = `${this.url}/delete/${id}`
            axios.post(ulrlist).then(function(response) {
                self.data = response.data
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
                back : this.name,
            }
            this.$emit('data-table', dataEmit)
        },   
    }
}
</script>
<style>
</style
