<template>
<div>
            <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="s col-md-12 col-xl-12 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">                
                                                    <div class="ml-2">
                                                        <p>Pilihan Mata Kuliah</p>
                                                        <p class="tx-11 text-muted">Silakan pilih mata kuliah</p>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                   <a @click.prevent="addByList" class="btn btn-primary mb-1 mb-md-0" href="#" ><i class="mdi mdi-format-list-bulleted"></i> <span class="hide-on-small-onl">List Mata Kuliah</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Kode</th>
                                                        <th >Nama</th>
                                                        <th >Prodi</th>
                                                        <th >Jurusan</th>
                                                        <th >Status</th>
                                                        <th >Action</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr v-for="(krs,idx) in rencanastudilist">
                                                        <td>{{idx+1}}</td>
                                                        <td>{{krs.student.code}}</td>
                                                        <td>{{krs.student.fullname}}</td>
                                                        <td>{{krs.student.program.name}}</td>
                                                        <td>{{krs.student.program.faculty.name}} SKS</td>
                                                        <td >{{krs.student.program.faculty.name}} SKS</td>
                                                       
                                                        <td>
                                                            <a href="#" style="color:red" @click.prevent="viewKRS(krs)">
                                                                <i class="mdi mdi-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    
                                                    
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>


 
</div>
</template>

<script>
 //dynamic url
let myUrl = window.location.origin+"/";

import AxiosMixin from './mixins/axiosMixinsRencanastudiAdmin.js';

export default {
    mixins:[AxiosMixin],
    props:['datamatkulpilihan'],
    data() {
         return {
            url: myUrl,
            emptyResult: false,
            successMSG: '',
            totalData:0,
            currentPage: 0,
            rowCountPage: 5,
            pageRange: 2,
            workingpermit:{},
            choosedRencanaStudi:{
                student:{
                    program:{
                        faculty:{}
                    }
                },
                matkulSelected:[]

            },
            totalSKS:0,
            indexGlobal:0,
            datetime:''
            
         }

    },
    created(){
        this.initial()
    },
    methods:{  
           
            initial(){
                this.getDataStudent()
            },
            viewKRS(data){
                this.sendParentKRS('detailKRS',data)
            },
            sendParentKRS(action,data){
                let dataEmit = {
                    action : action,
                    data : data,
                    back : 'listKRS',
                }
                this.$emit('data-krs', dataEmit)
            },            
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }
</style>
