<template>
<div>
<form class="forms-sample">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th >#</th>
                    <th style="max-width:200px">Item Name</th>
                    <th >Price</th>
                    <th >Discount</th>
                    <th class="text-center">Qty</th>
                    <th class="text-right">Subtotal</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody v-if="Array.isArray(transaction) && transaction.length!=0">
                <tr v-for="(data,key,idx) in transaction" :key="idx">
                    <td>{{key+1}}</td>
                    <td>{{data.product.name}}</td>
                    <td>{{data.product.price}}</td>
                    <td>0%</td>
                    <td>{{data.qty}}</td>
                    <td class="text-right">{{data.qty*data.product.price}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger btn-icon" @click="deleteData(key,data)">
                            <i class="mdi mdi-delete"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="7" rowspan="1">Tidak Ada Record</td> 
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5" class="text-right">Total :</th>
                    <td class="text-right">{{dataprop.total_item}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="5" class="text-right">Total Diskon :</th>
                    <td class="text-right">0%</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="5" class="text-right">Total :</th>
                    <td class="text-right">{{dataprop.total_item}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>
</div>
</template>

<script>
import AxiosMixin from './mixins/axiosMixins.js';

export default {
    props:['dataprop'],
    mixins:[AxiosMixin],
    data() {
         return {
            url:'/admin/transaction',
            type:'',
            data:{
                start_time: '',
                end_time: '',
            },
            transaction:[],
            days:[]
         }

    },
    created(){
        this.initial()
    },
    methods:{  
        initial(){
            this.transaction = this.dataprop.transactiondetail
            // this.url  = this.dataprop.url         
            // this.type = this.dataprop.type    
            // this.data.start_time = this.$dayjs().format('HH:mm')    
            // this.data.end_time = this.$dayjs().add('1.5','hours').format('HH:mm')   
            // this.days = this.getDayIndex()
            // if(!_.isEmpty(this.dataprop.data)){
            //         this.data = this.dataprop.data
            //         this.data.day_index = {
            //             id: this.data.day_index,
            //             name:this.dayOfWeekAsString(this.data.day_index)
            //         }
            //         this.data.start_time = this.timeFormat(this.data.start_time)
            //         this.data.end_time = this.timeFormat(this.data.end_time)
            // }
        },
        addEndTime () {
          this.data.end_time = this.$dayjs().add('1.5','hours').format('HH:mm')  
        },  
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        deleteData(idx,data){
            // console.log(this.$swal)
            this.$swal({
                title: "Delete this item?",
                text: "Are you sure? You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => { 
                if (result.value) { 
                    this.transaction.splice(idx, 1)
                    this.axiosDelete(data.id)
                }
            });
        },
        axiosDelete(id){
            let self = this
            let ulrlist = `${this.url}/delete/${id}`
            axios.post(ulrlist).then(function(response) {
                self.data = response.data
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        axiosForm(value){
            let self = this
            let data = _.cloneDeep(value)
            data.transaction = JSON.stringify(data.transaction)
            let formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.data = response.data
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
    .time {
      display: inline-block;
      align-items: center;
    }

    .time.before::before {
      content: "-";
    }

    
</style>
