<template>
<div>
        <div class="row inbox-wrapper">
                        <div class="s col-md-12 col-xl-12 middle-wrapper">
                            <div class="row">
                                <div class="col-md-8 grid-margin">
                                    <div class="card">
                                      <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-baseline mb-2">
                                            <h6 class="card-title mb-0">Add Transaction</h6>
                                            <div class="dropdown mb-2">
                                                <button class="btn btn-primary mr-1" data-toggle="modal" data-target="#exampleModal" @click.prevent="isShowModalAddOrder=true">Add Order</button>
                                            </div>
                                          </div>
                                        <Formtransaction ref="formTransaksi" :dataprop="data" @data-prop="getData"></Formtransaction>
                                            
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-4 grid-margin">
                                    <div class="card">
                                      <div class="card-body">
                                        <h6 class="card-title">Detail Transaction</h6>
                                        <Detailtransaction :dataprop.sync="data" @data-prop="getData"></Detailtransaction>
                                            
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>
                    <div v-if="isShowModalAddOrder">
                        <FormModal @data-modal="getDataModal" :dataprop="data"></FormModal>
                    </div>





</div>
</template>

<script>

import Formtransaction from './Form.vue';
import Detailtransaction from './FormDetail.vue';
import FormModal from './Modal.vue';

export default {
    props:['dataprop'],
    components: {
        Formtransaction,
        Detailtransaction,
        FormModal
    },
    data() {
         return {
            data:{
                type:'add',
                name:'add',
                url:'/admin/transaction/edit',
                data:{},
            },
            isShowModalAddOrder:false
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
            this.data = this.dataprop
        },
        getDataModal(value){
            this.isShowModalAddOrder=!this.isShowModalAddOrder
            if(value.action === 'addProduct'){
                this.data.transactiondetail.push(value.data)
            }
        },
        getData(value){
            this.toParent(value.action, value.data)
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
                back : this.data.name,
            }
            this.$emit('data-prop', dataEmit)
        },   
    }
}
</script>
<style>

</style>
