<template>
<div>
<form class="forms-sample">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Customer Name</label>
                <multiselect
                        name="customer"
                        v-model="data.customer"
                        v-validate="'required'"
                        track-by="id"
                        :options="customers"
                        data-vv-as="Customer"
                        :allow-empty="false"
                    ></multiselect>
                <div class="text-danger small">{{ veeErrors.first('customer') }}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">No. Telp</label>
                <input type="number" class="form-control" id="telp" v-model="data.telp" v-validate="'required|numeric'" name="telp" data-vv-as="Number hp/telp">
                <div class="text-danger small">{{ veeErrors.first('telp') }}</div>
            </div>   
        </div>
        <div class="col-sm-6">
             <div class="form-group">
                <label for="exampleInputUsername1">Amount paid</label>
                <input type="number" class="form-control" id="payment" v-model="data.payment" v-validate="'required|numeric'" name="payment" data-vv-as="Amount paid">
                <div class="text-danger small">{{ veeErrors.first('payment') }}</div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Note</label>
                <textarea class="form-control" rows="4" id="note" placeholder="Note" v-model="data.note" v-validate="'required'" name="note" data-vv-as="Note Transaction"></textarea>
                <div class="text-danger small">{{ veeErrors.first('note') }}</div>
            </div>
        </div>
    </div>


    
    

    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-1">Back</button>
    <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-1">Process</button>
</form>
</div>
</template>

<script>
import AxiosMixin from './mixins/axiosMixins.js';

export default {
    props:['dataprop'],
    mixins:[AxiosMixin],
    data() {
         return {
            url:'',
            urlgetCustomerList:`customer/list`,
            type:'',
            data:{
                telp: '',
                payment: '',
                note: '',
            },
            customers:['test','test']
         }

    },
    created(){
        this.initial()
    },
    methods:{  
        initial(){
            this.getCustomerList()
        },
        getCustomerList(){
            let self = this
            axios.get(this.urlgetCustomerList).then(function(response) {
               self.customers = response.data
            })
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(value){
            let self = this
            let data = _.cloneDeep(value)
            data.courseplan = JSON.stringify(data.courseplan)
            data.room = JSON.stringify(data.room)
            data.day_index = JSON.stringify(data.day_index)
            let formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.data = response.data
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
    .time {
      display: inline-block;
      align-items: center;
    }

    .time.before::before {
      content: "-";
    }

    
</style>
