<template>
<div>
        <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <div class="col-md-12 col-xl-3 left-wrapper">
                            <div class="card ">
                                <div class="card-body">
                                    <h6 class="card-title mb-0">{{choosedRencanaStudi.student.fullname}}</h6>

                                    
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Nomor Induk Siswa :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.student.code}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Angkatan :</label>
                                        <p class="text-muted">2017</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Semester / IPK :</label>
                                        <p class="text-muted">1 / {{choosedRencanaStudi.gpa}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Fakultas :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.student.program.faculty.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Program Studi  :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.student.program.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Status  :</label>
                                        <p class="text-muted">{{(choosedRencanaStudi.status)?"Aktif":"Tidak Aktif"}}</p>
                                    </div>
                                    <div class="mt-3 d-flex social-links">
                                        <a href="" class="btn btn-primary mb-1 mb-md-0">
                                            <i class="mdi mdi-lead-pencil"></i>Edit Info
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="s col-md-12 col-xl-9 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">                
                                                    <div class="ml-2">
                                                        <p>Pilihan Mata Kuliah</p>
                                                        <p class="tx-11 text-muted">Silakan pilih mata kuliah</p>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                   <a @click.prevent="addByList" class="btn btn-primary mb-1 mb-md-0" href="#" ><i class="mdi mdi-format-list-bulleted"></i> <span class="hide-on-small-onl">List Mata Kuliah</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Kode</th>
                                                        <th style="min-width:350px" >Nama Mata Kuliah</th>
                                                        <th style="min-width:130px">SKS</th>
                                                        <th >Status</th>
                                                        <th >Action</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                    <tr v-for="(mtk,idx) in choosedRencanaStudi.courseplanitem  ">
                                        <td>{{idx+1}}</td>
                                        <td>{{mtk.course.code}}</td>
                                        <td style="min-width:350px">{{mtk.course.name}}<br/>
                                            <div class="colorin">
                                                Dosen : {{mtk.lecture.fullname}}<br/>Kelas : {{mtk.class}}

                                            </div>
                                        </td>
                                        <td style="min-width:130px">{{mtk.course.credit}} SKS</td>
                                        <td><span class="btn-flat waves-effect  white-text mb-1" style="min-width:120px!important" :class="(mtk.status==1)?'cyan':'green'">{{(mtk.status==1)?'Wajib':'Pilihan'}}</span></td>
                                        <td>
                                            <a href="#" style="color:red" @click.prevent="deleteRow(idx,mtk)">
                                                <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" rowspan="1">Total SKS</td>
                                        <td colspan="3" rowspan="1"><span class="btn-flat waves-effect cyan white-text mb-1">{{totalSKS}} / 32 SKS </span></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                    
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-warning mb-1 mb-md-0 left" type="submit" name="action" @click.prevent= "saveKRS('draft')">SIMPAN
                                                <i class="mdi mdi-content-save"></i>
                                            </button>

                                            <button class="btn btn-success mb-1 mb-md-0 right" type="submit" name="action" @click.prevent="approveKRS('final')">Setujui <i class="mdi mdi-arrow-right-bold-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>





</div>
</template>

<script>
 //dynamic url
let myUrl = window.location.origin+"/";

import AxiosMixin from './mixins/axiosMixinsRencanastudiAdmin.js';

export default {
    mixins:[AxiosMixin],
    props:['datakrs'],
    data() {
         return {
            url: myUrl,
            emptyResult: false,
            successMSG: '',
            totalData:0,
            currentPage: 0,
            rowCountPage: 5,
            pageRange: 2,
            workingpermit:{},
            choosedRencanaStudi:{},
            totalSKS:0,
            indexGlobal:0,
            datetime:''
            
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
            this.choosedRencanaStudi = this.datakrs
            this.sumSKS()
        },
        deleteRow(index,mtk){
                let data = {
                    courseplanitemid:mtk.id,
                    studentcourseplanid:this.datakrs.id
                }
                this.deleteMatkulKRSMixin(data)
                this.choosedRencanaStudi.courseplanitem.splice(index, 1)
                this.sumSKS()
        },
        addByList() {
            // this.choosedRencanaStudi.student = this.student
           this.sendParentKRS('matkulKRS',this.choosedRencanaStudi)
        },

        sendParentKRS(action,data){
            let dataEmit = {
                action : action,
                data : data,
                back : 'viewKRS',
            }
            this.$emit('data-krs', dataEmit)
        },            
        approveKRS(status) {
            this.approveKRSMixin(this.choosedRencanaStudi)
            this.sendParentKRS('showKRS',this.choosedRencanaStudi)


        },  
        sumSKS(){
                // this.totalSKS = this.choosedRencanaStudi.courseplanitem.reduce(function(prev, cur) {
                //   return prev + cur.course.credit;
                // }, 0);
            },
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }

    .colorin {
      background: #66D1D1;
      padding:5px;
      border-radius:3px;
    }
</style>
