<template>
<div>
<form class="forms-sample">
    <div class="row">

        <div class="col-sm-6">

            <div class="form-group">
                <label for="exampleInputUsername1">Course Plan</label>
                <multiselect
                  name="courseplan"
                  v-model="data.courseplan"
                  v-validate="'required'"
                  track-by="id"
                  :custom-label="labelCoursplan"
                  :options="courseplans"
                  data-vv-as="Course Plan"
                  :allow-empty="false"
                ></multiselect>
                <div class="text-danger small">{{ veeErrors.first('courseplan') }}</div>

            </div>   
                <div class="form-group">
            <div class="form-group">
                <label for="exampleInputUsername1">Days</label>
                <multiselect
                  name="day"
                  v-model="data.day_index"
                  v-validate="'required'"
                  track-by="id"
                  :custom-label="labelDay"
                  :options="days"
                  data-vv-as="Hari"
                  :allow-empty="false"
                ></multiselect>
                <div class="text-danger small">{{ veeErrors.first('day') }}</div>
            </div>
    </div>

           
        </div>
        <div class="col-sm-6">
             <div class="form-group">
                <label for="exampleInputUsername1">Room</label>
                <multiselect
                  name="room"
                  v-model="data.room"
                  v-validate="'required'"
                  track-by="id"
                  :custom-label="labelRoom"
                  :options="rooms"
                  data-vv-as="Room"
                  :allow-empty="false"
                ></multiselect>
                <div class="text-danger small">{{ veeErrors.first('room') }}</div>
            </div>
            <div class="form-group">
                <div class="time">
                    
                    <label for="exampleInputEmail1">Start Time</label>
                    <vue-clock-picker :input-class="'form-control'"  v-model="data.start_time" v-validate="'required'" data-vv-as="Start Time" name="start_time" ></vue-clock-picker>
                    <div class="text-danger small">{{ veeErrors.first('start_time') }}</div>
                </div>

                <div class="time before"></div>
                <div class="time">
                    <label for="exampleInputEmail1">End Time</label>
                    <vue-clock-picker :input-class="'form-control'"  v-model="data.end_time" v-validate="'required'" data-vv-as="End Time" name="end_time"></vue-clock-picker>
                    <div class="text-danger small">{{ veeErrors.first('end_time') }}</div>
                </div>

            </div>

        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Status</label>
                <input type="number" class="form-control" id="status" placeholder="Status" v-model="data.status" v-validate="'required|numeric'" name="status" data-vv-as="Status Slot">
                <div class="text-danger small">{{ veeErrors.first('status') }}</div>
            </div>
        </div>
    </div>


    
    

    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-2">Back</button>
    <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-2">Submit</button>
</form>
</div>
</template>

<script>
import AxiosMixin from './mixins/axiosMixins.js';

export default {
    props:['dataprop'],
    mixins:[AxiosMixin],
    data() {
         return {
            url:'',
            urlgetCoursePlan:`courseplan/list`,
            urlgetRoom:`room/list`,
            type:'',
            data:{
                start_time: '',
                end_time: '',
            },
            courseplans:[],
            rooms:[],
            days:[]
         }

    },
    created(){
        this.initial()
        this.getDataCourseplan()
        this.getDataRoom()
        this.getDayIndex()
    },
    methods:{  
        initial(){
           this.url  = this.dataprop.url         
           this.type = this.dataprop.type    
           this.data.start_time = this.$dayjs().format('HH:mm')    
           this.data.end_time = this.$dayjs().add('1.5','hours').format('HH:mm')   
           this.days = this.getDayIndex()
           if(!_.isEmpty(this.dataprop.data)){
                this.data = this.dataprop.data
                this.data.day_index = {
                    id: this.data.day_index,
                    name:this.dayOfWeekAsString(this.data.day_index)
                }
                this.data.start_time = this.timeFormat(this.data.start_time)
                this.data.end_time = this.timeFormat(this.data.end_time)
           }
        },
        addEndTime () {
          this.data.end_time = this.$dayjs().add('1.5','hours').format('HH:mm')  
        },        
        labelCoursplan ({ year,semester,program }) {
          return `${year} — Semester ${semester}  [${program.code} - ${program.faculty.code}]`
        },
        labelDay ({ name }) {
          return `${name}`
        },
        labelRoom ({ name }) {
          return `${name}`
        },
        getDataCourseplan(){
            let self = this
            axios.get(this.urlgetCoursePlan).then(function(response) {
               self.courseplans = response.data
            })
        },

        getDataRoom(){
            let self = this
            axios.get(this.urlgetRoom).then(function(response) {
               self.rooms = response.data
            })
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(value){
            let self = this
            let data = _.cloneDeep(value)
            data.courseplan = JSON.stringify(data.courseplan)
            data.room = JSON.stringify(data.room)
            data.day_index = JSON.stringify(data.day_index)
            let formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.data = response.data
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
    .time {
      display: inline-block;
      align-items: center;
    }

    .time.before::before {
      content: "-";
    }

    
</style>
