<template>
<div>
<form class="forms-sample">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Kode</label>
                <input type="text" class="form-control" id="code" autocomplete="off" placeholder="Kode" v-model="data.code" v-validate="'required'" name="code" data-vv-as="Kode Ruangan">
                <div>{{ veeErrors.first('code') }}</div>
            </div>   

            <div class="form-group">
                <label for="exampleInputUsername1">Nama</label>
                <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Nama" v-model="data.name" v-validate="'required'" name="name" data-vv-as="Nama Ruangan">
                <div>{{ veeErrors.first('name') }}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
        <label for="exampleInputEmail1">Status</label>
        <input type="text" class="form-control" id="status" placeholder="Status" v-model="data.status" v-validate="'required|numeric'" name="status" data-vv-as="Status Ruangan">
        <div>{{ veeErrors.first('status') }}</div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Kapasitas</label>
        <input type="text" class="form-control" id="capacity" placeholder="Kapasitas" v-model="data.capacity" v-validate="'required|numeric'" name="capacity" data-vv-as="Kapasitas Ruangan">
        <div>{{ veeErrors.first('capacity') }}</div>
    </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">Owner</label>
        <input type="text" class="form-control" id="owner" placeholder="Owner" v-model="data.owner" v-validate="'required|numeric'" name="owner" data-vv-as="Pemilik Ruangan">
        <div>{{ veeErrors.first('owner') }}</div>
    </div>

    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-2">Back</button>
    <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-2">Submit</button>
</form>
</div>
</template>

<script>

export default {
    props:['dataprop'],
    data() {
         return {
            url:'',
            type:'',
            data:{},
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
           this.url  = this.dataprop.url         
           this.type = this.dataprop.type      
           if(!_.isEmpty(this.dataprop.data)){
                this.data = this.dataprop.data
           }
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(data){
            let self = this
            var formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                self.data = response.data
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }

    .colorin {
      background: #66D1D1;
      padding:5px;
      border-radius:3px;
    }
</style>
