<template>
<div>

        <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <div class="col-md-12 col-xl-4 left-wrapper">
                            <div class="card ">
                                <div class="card-body">
                                    <h6 class="card-title mb-0">{{choosedRencanaStudi.fullname}}</h6>

                                    
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Nomor Induk Siswa :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.code}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Angkatan :</label>
                                        <p class="text-muted">2017</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Semester / IPK :</label>
                                        <p class="text-muted">1 / {{choosedRencanaStudi.gpa}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Fakultas :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.program.faculty.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Program Studi  :</label>
                                        <p class="text-muted">{{choosedRencanaStudi.program.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Status  :</label>
                                        <p class="text-muted">{{(choosedRencanaStudi.status)?"Aktif":"Tidak Aktif"}}</p>
                                    </div>
                                    <div class="mt-3 d-flex social-links">
                                        <a href="" class="btn btn-primary mb-1 mb-md-0">
                                            <i class="mdi mdi-lead-pencil"></i>Edit Info
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="s col-md-12 col-xl-8 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <img class="img-xs rounded-circle" src="assets/images/faces/face1.jpg" alt="">                                                 
                                                    <div class="ml-2">
                                                        <p>Mike Popescu</p>
                                                        <p class="tx-11 text-muted">10 min ago</p>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                   <a @click.prevent="addByList" class="btn white-text waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons left">list</i> <span class="hide-on-small-onl">List</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Kode</th>
                                                        <th style="min-width:350px" >Nama Mata Kuliah</th>
                                                        <th style="min-width:300px">Dosen</th>
                                                        <th style="min-width:130px">SKS</th>
                                                        <th >Status</th>
                                                        <th >Action</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr v-for="(mtk,idx) in studentcourseplan.courseplanitem">
                                                        <td>{{idx+1}}</td>
                                                        <td>{{mtk.course.code}}</td>
                                                        <td style="min-width:350px">{{mtk.course.name}}</td>
                                                        <td d style="min-width:300px">{{mtk.lecture.fullname}}</td>
                                                        <td style="min-width:130px">{{mtk.course.credit}} SKS</td>
                                                        <td><span class="btn-flat waves-effect  white-text mb-1" style="min-width:120px!important" :class="(mtk.status==1)?'cyan':'green'">{{(mtk.status==1)?'draft':'final'}}</span></td>
                                                        <td>
                                                            <a href="#" style="color:red" @click.prevent="deleteRow(idx,mtk)">
                                                                <i class="material-icons delete">delete_outline</i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" rowspan="1">Total SKS</td>
                                                        <td colspan="3" rowspan="1"><span class="btn-flat waves-effect cyan white-text mb-1">{{totalSKS}} / 32 SKS </span></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>




    

    <div class="card cyan white-text ">
        <div class="card-content ">
            <p class="caption">
                <div class="col s1 place p-0 mb-1 mr-3">
                    <div class="square" style="border-radius:5px">photo</div>
                </div>
                <div class="col s4 place p-0 mb-1">
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Nim</div>
                        <div class="col s9">
                            <p class="m-0">: {{this.choosedRencanaStudi.student.code}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Nama</div>
                        <div class="col s9">
                            <p class="m-0">: {{this.choosedRencanaStudi.student.fullname}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3">Angkatan</div>
                        <div class="col s9">
                            <p class="m-0">: 2017</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Smt. / IPK</div>
                        <div class="col s9">
                            <p class="m-0">: 1 / {{this.choosedRencanaStudi.student.gpa}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s5 place p-0 mb-1">
                    <div class="col s12 place p-0">
                        <div class="col s2 ">Fakultas</div>
                        <div class="col s10">
                            <p class="m-0">: {{choosedRencanaStudi.program.faculty.name}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s2 ">Prodi</div>
                        <div class="col s10">
                            <p class="m-0">: {{choosedRencanaStudi.program.name}}</p>
                        </div>
                    </div>

                    <div class="col s12 place p-0">
                        <div class="col s2 ">Status</div>
                        <div class="col s10">
                            <p class="m-0">: {{(choosedRencanaStudi.student.status)?"Aktif":"Tidak Aktif"}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s2 ">Dosen</div>
                        <div class="col s10">
                            <p class="m-0">: Agung Asmara, ST.MT</p>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="responsive-table" class="card card card-default scrollspy">
                <div class="card-content">
                    

                    <div class="row">

                        <div class="input-field col m4 s12">
                            <h4 class="card-title">Pilihan Mata Kuliah</h4>

                        </div>
                        <div class="input-field col m8 s12">
                       
<a @click.prevent="addByList" class="btn white-text waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons left">list</i> <span class="hide-on-small-onl">List</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                        </div>
                        <div class="col s12">
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th >#</th>
                                        <th >Kode</th>
                                        <th style="min-width:350px" >Nama Mata Kuliah</th>
                                        <th style="min-width:300px">Dosen</th>
                                        <th style="min-width:130px">SKS</th>
                                        <th >Status</th>
                                        <th >Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(mtk,idx) in studentcourseplan.courseplanitem">
                                        <td>{{idx+1}}</td>
                                        <td>{{mtk.course.code}}</td>
                                        <td style="min-width:350px">{{mtk.course.name}}</td>
                                        <td d style="min-width:300px">{{mtk.lecture.fullname}}</td>
                                        <td style="min-width:130px">{{mtk.course.credit}} SKS</td>
                                        <td><span class="btn-flat waves-effect  white-text mb-1" style="min-width:120px!important" :class="(mtk.status==1)?'cyan':'green'">{{(mtk.status==1)?'draft':'final'}}</span></td>
                                        <td>
                                            <a href="#" style="color:red" @click.prevent="deleteRow(idx,mtk)">
                                                <i class="material-icons delete">delete_outline</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" rowspan="1">Total SKS</td>
                                        <td colspan="3" rowspan="1"><span class="btn-flat waves-effect cyan white-text mb-1">{{totalSKS}} / 32 SKS </span></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                         <div class="input-field col s4 right">
                            <button class="btn cyan waves-effect waves-light right ml-2 mr-2" type="submit" name="action" @click.prevent="approveKRS('final')">Setujui
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="btn orange waves-effect waves-light right ml-2 mr-2" type="submit" name="action" @click.prevent= "saveKRS('draft')">SIMPAN
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
 //dynamic url
let myUrl = window.location.origin+"/";

import AxiosMixin from './mixins/axiosMixinsRencanastudiStudent.js';

export default {
    mixins:[AxiosMixin],
    props:['datakrs'],
    data() {
         return {
            url: myUrl,
            emptyResult: false,
            successMSG: '',
            totalData:0,
            currentPage: 0,
            rowCountPage: 5,
            pageRange: 2,
            workingpermit:{},
            choosedRencanaStudi:{
                courseplanitem:{}
            },
            studentcourseplan:{},
            courseplanitem:[],
            totalSKS:0,
            indexGlobal:0,
            datetime:''
            
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
            //load student courseplan 
            this.choosedRencanaStudi = this.datakrs
            let data = {
                idstudent:this.datakrs.student.code,
                courseplan:JSON.stringify(this.datakrs.courseplan),
            }
            this.getStudentCoursePlanItem(data)
            this.sumSKS()
        },
        getStudentCoursePlanItem(data) {
            let self = this
            var formData = this.formData(data);
            axios.post("/student/krs/get",formData).then(function(response) {
                if(Object.keys(response.data).length!=0){
                    self.studentcourseplan = response.data
                }
            })
        },   
        deleteRow(index,mtk){
                let data = {
                    courseplanitemid:mtk.id,
                    studentcourseplanid:this.studentcourseplan.id
                }
                this.deleteMatkulKRSMixin(data)
                this.studentcourseplan.courseplanitem.splice(index, 1)
                this.sumSKS()
        },
        addByList() {
           this.choosedRencanaStudi.studentcourseplan = this.studentcourseplan
           this.sendParentKRS('matkulKRS',this.choosedRencanaStudi)
        },

        sendParentKRS(action,data){
            let dataEmit = {
                action : action,
                data : data,
                back : 'detailKRS',
            }
            this.$emit('data-krs', dataEmit)
        },            
        approveKRS(status) {
            this.choosedRencanaStudi.studentcourseplan = this.studentcourseplan 
            this.approveKRSMixin(this.choosedRencanaStudi)
            this.sendParentKRS('viewKRS',this.choosedRencanaStudi)


        },  
        sumSKS(){
                // if()
                // this.totalSKS = this.choosedRencanaStudi.courseplanitem.reduce(function(prev, cur) {
                //         if(typeof cur.course.credit!=='undefined'){
                //             return prev + cur.course.credit;
                //         }

                //         return 0;
                // }, 0);
            },
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }
</style>
