<template>
<div>

       
    <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <div class="col-md-12 col-xl-4 left-wrapper">
                            <div class="card ">
                                <div class="card-body">
                                    <h6 class="card-title mb-0">{{rencanastudilist.fullname}}</h6>

                                    
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Nomor Induk Siswa :</label>
                                        <p class="text-muted">{{rencanastudilist.code}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Angkatan :</label>
                                        <p class="text-muted">2017</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Semester / IPK :</label>
                                        <p class="text-muted">1 / {{rencanastudilist.gpa}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Fakultas :</label>
                                        <p class="text-muted">{{rencanastudilist.program.faculty.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Program Studi  :</label>
                                        <p class="text-muted">{{rencanastudilist.program.name}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Status  :</label>
                                        <p class="text-muted">{{(rencanastudilist.status)?"Aktif":"Tidak Aktif"}}</p>
                                    </div>
                                    <div class="mt-3 d-flex social-links">
                                        <a href="" class="btn btn-primary mb-1 mb-md-0">
                                            <i class="mdi mdi-lead-pencil"></i>Edit Info
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="s col-md-12 col-xl-8 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">                                                 
                                                    <div class="ml-2">
                                                        <p>Pilih Semester</p>
                                                        <p class="tx-11 text-muted">List Semester Yang Terbuka</p>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                        <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-meh icon-sm mr-2"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="15" x2="16" y2="15"></line><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg> <span class="">Unfollow</span></a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-up icon-sm mr-2"><polyline points="10 9 15 4 20 9"></polyline><path d="M4 20h7a4 4 0 0 0 4-4V4"></path></svg> <span class="">Go to post</span></a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2 icon-sm mr-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg> <span class="">Share</span></a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy icon-sm mr-2"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg> <span class="">Copy link</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Semester</th>
                                                        <th >View</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr v-for="(coursepl,idx) in rencanastudilist.program.courseplan">
                                                        <td>{{idx+1}}</td>
                                                        <td>Semester {{coursepl.semester}}</td>

                                                        <td>
                                                            <a href="#"  @click.prevent="viewKRS(coursepl)" class="btn btn-primary mb-1 mb-md-0"> Pilih

                                                            </a>
                                                        </td>
                                                    </tr>
                                                    
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>




    






</div>
</template>

<script>
 //dynamic url
let myUrl = window.location.origin+"/";

import AxiosMixin from './mixins/axiosMixinsRencanastudiStudent.js';

export default {
    mixins:[AxiosMixin],
    props:['datamatkulpilihan'],
    data() {
         return {
            url: myUrl,
            emptyResult: false,
            successMSG: '',
            totalData:0,
            currentPage: 0,
            rowCountPage: 5,
            pageRange: 2,
            workingpermit:{},
            rencanastudilist:{
                
                    program:{
                        faculty:{}
                },
                matkulSelected:[]

            },
            totalSKS:0,
            indexGlobal:0,
            datetime:''
            
         }

    },
    created(){
        this.initial()
    },
    methods:{  
           
            initial(){
                this.getDataStudent()
            },
            viewKRS(data){
                let student = {
                            id:this.rencanastudilist.user_id,
                            address:this.rencanastudilist.address,
                            code:this.rencanastudilist.code,
                            created_at:this.rencanastudilist.created_at,
                            dob:this.rencanastudilist.dob,
                            fullname:this.rencanastudilist.fullname,
                            gender:this.rencanastudilist.gender,
                            gpa:this.rencanastudilist.gpa,
                            phone:this.rencanastudilist.phone,
                            photo:this.rencanastudilist.photo
                }
                let dataSend = {
                            student:student,
                            program:this.rencanastudilist.program,
                            courseplan:data
                }
                this.sendParentKRS('detailKRS',dataSend)
            },
            sendParentKRS(action,data){
                let dataEmit = {
                    action : action,
                    data : data,
                    back : 'listKRS',
                }
                this.$emit('data-krs', dataEmit)
            },            
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }
</style>
