<template>
<div>
        <div class="row inbox-wrapper">
                        <!-- left wrapper start -->
                        <!-- left wrapper end -->
                        <!-- middle wrapper start -->
                        <div class="col-md-12 col-xl-12 middle-wrapper">
                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">                
                                                    <div class="ml-2">
                                                        <p>Pilihan Mata Kuliah</p>
                                                        <p class="tx-11 text-muted">Silakan pilih mata kuliah</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th >Kode</th>
                                                        <th >Nama Mata Kuliah</th>
                                                        <th >Kuota</th>
                                                        <th >SKS</th>
                                                        <th >Status Mata Kuliah</th>
                                                        <th >Pilih</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr v-for="(mtk,key,idx) in courseplanitem" :key="idx">
                                                        <td>{{key+1}}</td>
                                                        <td>{{mtk.course.code}}</td>
                                                        <td><div style="font-weight: bold;"><h6 style="margin:0px!important">
                                                            {{mtk.course.name}}</h6></div>
                                                            <div class="colorin" >
                                                                Dosen : {{mtk.lecture.fullname}}  <br/>     
                                                                Class : {{mtk.class}} 
                                                            </div>
                                                        </td>
                                                        <td>{{mtk.capacity}} Orang</td>
                                                        <td>{{mtk.course.credit}} SKS</td>
                                                        <td><span class="btn-flat waves-effect  white-text mb-1" style="min-width:120px!important" :class="(mtk.status==1)?'cyan':'green'">{{(mtk.status==1)?'Wajib':'Pilihan'}}</span></td>
                                                        <td>
                                                            <p>
                                                                <label>
                                                                  <input class="validate" required aria-required="true" :id="key" type="checkbox" v-model="mtk.selected" @click="cekSimilarMatkul(mtk)" :disabled="mtk.disable"/>
                                                                  <span :for="key"></span>
                                                                </label>
                                                            </p>
                                                        </td>
                                                    </tr>
                                    
                                                    <tr>
                                                        <td colspan="4" rowspan="1">Total SKS</td>
                                                        <td colspan="3" rowspan="1"><span class="btn-flat waves-effect cyan white-text mb-1">{{totalSKS}} / 32 SKS </span></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                             <button class="btn btn-primary mb-1 mb-md-0" type="submit" name="action" @click.prevent="addMatkul">Select
                                <i class="mdi mdi-send"></i>
                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- middle wrapper end -->
                        <!-- right wrapper start -->
                        <!-- right wrapper end -->
                    </div>
</div>
</template>

<script>
 //dynamic url
let myUrl = window.location.origin+"/";

import Multiselect from 'vue-multiselect'
import AxiosMixin from './mixins/axiosMixinsRencanastudiStudent.js';

export default {
    mixins:[AxiosMixin],
    components: { Multiselect },
    props:['datakrs'],
    data() {
         return {
            url: myUrl,
            emptyResult: false,
            courseplanid: '',
            semester: '',
            successMSG: '',
            totalData:0,
            currentPage: 0,
            rowCountPage: 5,
            pageRange: 2,
            selected:[],
            choosedMatkul:[],
            matkul:'',
            courseplanitem:[],
            indexGlobal:0,
            datetime:'',
            isAxiosFinish:false
            
         }

    },
    created(){
        this.initial()
    },
    methods:{  
            cekSimilarMatkul(selectedMatkul){
                this.courseplanitem.map(function(optmtk){
                    if(this.selectedMatkul.course_id == optmtk.course_id ){
                          optmtk.disable = !optmtk.disable
                    }
                    if(this.selectedMatkul.id == optmtk.id ){
                          optmtk.disable = false
                    }

                    return optmtk
                },{selectedMatkul})

            },
            backParent(){
                 let items ={
                        'selectedmatkul':{},
                        'courseplanid' : this.courseplanid,
                        'semester' : this.semester
                }; 
                this.sendParentMatkul('tableKRS',items) 
            },
            initial(){
                // let idprogram = this.datakrs.student.program.id
                let idcourseplan = this.datakrs.courseplan.id
                this.getDataMatkul(idcourseplan)
            },
            getDataMatkul(idcourseplan) {
                let self = this
                self.isAxiosFinish = false
                axios.get("/student/planmatakuliah/"+idcourseplan).then(function(response) {
                        if(Object.keys(response.data).length!=0){

                            self.courseplanitem = response.data.courseplanitem
                            self.courseplanid = response.data.id
                            self.semester = response.data.semester

                            if(Object.keys(self.datakrs.studentcourseplan).length !== 0){

                                self.selected = self.datakrs.studentcourseplan.courseplanitem
                                
                                //hapus course plan yang memiliki if course yang sama
                                self.courseplanitem = self.courseplanitem.filter(function(obj) {

                                    return !self.selected.find(o => ( obj.course.id === o.course.id) )
                                })
                            }
                        }
                })
            },  
            addMatkul(){
                
                let dataselected = this.courseplanitem.filter(x => x.selected === true)

                if (typeof dataselected !== 'undefined' && dataselected.length > 0) {
                    //solusinya ARRAY MERGE
                    let data = _.cloneDeep(this.datakrs)
                    // if(Object.keys(this.datakrs.studentcourseplan).length !== 0){
                    //     data.courseplanitem = [...dataselected] 
                    //     // data.courseplanitem = [...this.datakrs.studentcourseplan.courseplanitem, ...dataselected] 
                    // }else{
                    //     data.courseplanitem = [...dataselected]
                    // }
                    data.courseplanitem = [...dataselected]
                    data.studentcourseplanid = this.datakrs.studentcourseplan.id
                    this.saveCoursePlanMixin(data)
                }
                
                this.sendParentMatkul('detailKRS',this.datakrs) 
            },
            onChangeMatkul(){
              
            },            
            labelMatkul({ name, sks }){
                return `${name} | ${sks} SKS`
            },             
            deleteWorkingPermit(data){
                this.choosedWorkingPermit = data
                let self = this
                axios.post(this.url+"/admin/workingpermit/delete/"+this.choosedWorkingPermit.id).then(function(response){
                         if(!response.data.error){
                                self.showAll()    
                            }
                })
            },
             selectWorkingPermit(data){
                this.choosedWorkingPermit = data
            },
            sendParentMatkul(action,data){
                let dataEmit ={
                            data: data,
                            action:action,                                 
                            back:'matkul'                                 
                        }
                this.$emit('data-matkul', dataEmit)
            },
            refresh(){
                this.showAll() //for preventing
            },
            showAll(){

            },
            getData(value){
                // become false if has a record
                this.emptyResult = false 
                //get total of user
                this.totalData = value.length 
                //slice the result for pagination
                this.workingpermit = value.slice(this.currentPage * this.rowCountPage, (this.currentPage * this.rowCountPage) + this.rowCountPage) 
                // if the record is empty, go back a page
                if(this.workingpermit.length == 0 && this.currentPage > 0){ 
                    this.pageUpdate(self.currentPage - 1)
                    this.clearAll()  
                }
            },
            pageUpdate(pageNumber){

                //receive currentPage number came from pagination template
                this.currentPage = pageNumber
                this.indexGlobal = this.currentPage * this.rowCountPage
                this.refresh()  
            },
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
    
    .multiselect__tags {

        border: 0;
         border-bottom:1.5px solid #EE82EE;
         border-radius: 0
    }
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        transition: opacity 1s;
    }
    .fade-leave{
        /* opacity: 1; */
    }
    .fade-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
     .colorin {
      background: #66D1D1;
      padding:5px;
      border-radius:3px;
    }
</style> 