<template>
<div>
    <div class="row" id="printMe">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="text-center noble-ui-logo mb-3 mt-4">Kartu Rencana Studi (KRS)</h4>
                <div class="container-fluid d-flex justify-content-between">

                  <div class="col-lg-7">
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            NIM
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            {{dataKRS.studentcourseplan.student.code}}
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Nama
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            {{dataKRS.studentcourseplan.student.fullname}}
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Angkatan
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                             2017
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Smt. / IPK
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            1 / {{dataKRS.studentcourseplan.student.gpa}}
                          </div>
                    </div>
                  </div>                  
                  <div class="col-lg-5">
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Fakultas
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            {{dataKRS.studentcourseplan.student.program.faculty.name}}
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Prodi
                          </div>

                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            {{dataKRS.studentcourseplan.student.program.name}}
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Status
                          </div>
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            {{(dataKRS.studentcourseplan.student.status)?"Aktif":"Tidak Aktif"}}
                          </div>
                    </div>
                    <div class="row align-items-centers">
                          <div class="col-lg-2">
                            Dosen
                          </div>
                          
                          <div class="col-xs-1 p-0">
                            :
                          </div>
                          <div class="col-lg-9">
                            Agung Asmara, ST.MT
                          </div>
                    </div>
                  </div>
                  






                  
                  
                </div>
                <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                  <div class="table-responsive w-100">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Mata Kuliah</th>
                              <th class="text-left">Dosen</th>
                              <th class="text-right">Kode</th>
                              <th class="text-right">SKS</th>
                            </tr>
                        </thead>
                        <tbody>
                              <tr v-for="(mtk,key) in dataKRS.studentcourseplan.courseplanitem">
                                     <td>{{key+1}}</td>
                                    <td class="text-left">{{mtk.course.name}}</td>
                                    <td class="text-left">{{mtk.lecture.fullname}}</td>   
                                    <td class="text-right">{{mtk.course.code}}</td>
                                    <td class="text-right">{{mtk.course.credit}} SKS</td>
                              </tr>
                          
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="container-fluid mt-5 w-100">
                  <div class="row">
                    <div class="col-md-6 ml-auto">
                        <div class="table-responsive">
                          <table class="table">
                              <tbody>
                                <tr>
                                  <td>Total SKS</td>
                                  <td class="text-right">$ 14,900.00</td>
                                </tr>
                                
                              </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid mt-5 w-100">
                  <div class="row">
                    <div class="col-md-6 mr-auto">
                        <div class="table-responsive">
                          <table class="table">
                              <tbody>
                                <tr>
                                  Catatan:<br/>
                                </tr>     
                                <tr>
                                  _____________________________________
                                </tr>
                                
                              </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid w-100">
                  <a href="#" class="btn btn-primary float-right mt-4 ml-2" ><i class="mdi mdi-check"></i> Finish</a>
                  <a href="#" class="btn btn-outline-primary float-right mt-4" @click.prevent= "printKRS"><i class="mdi mdi-printer"></i> Print</a>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</template>

<script>

import AxiosMixin from './mixins/axiosMixinsRencanastudiStudent.js';
import VueHtmlToPaper from 'vue-html-to-paper';


const options = {
  name: 'Kartu Rencana Studi',
  specs: [
    'fullscreen=yes',
    // 'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'http://localhost:8000/display/assets/css/demo_1/style.css',

  ]
}

Vue.use(VueHtmlToPaper, options);
// Vue.use(VueHtmlToPaper);

export default {
    mixins:[AxiosMixin],
    props:['datakrs'],
    data() {
         return {
          dataKRS:{}
            
         }

    },
    created(){
        this.initial()
    },
    methods:{ 
            printKRS() {
              // Pass the element id here
              this.$htmlToPaper('printMe');
            },
            initial(){
                this.dataKRS = this.datakrs
                this.dataKRS.courseplan = JSON.parse(this.datakrs.courseplan)
                this.dataKRS.studentcourseplan = JSON.parse(this.datakrs.studentcourseplan)
                this.dataKRS.student = JSON.parse(this.datakrs.student)
                // this.dataKRS.studentcourseplan.studentcourseplan = JSON.parse(this.datakrs.studentcourseplan.studentcourseplan)
                // this.dataKRS.studentcourseplan.student = JSON.parse(this.dataKRS.studentcourseplan.student)
            }
            
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
    
    .multiselect__tags {

        border: 0;
         border-bottom:1.5px solid #EE82EE;
         border-radius: 0
    }
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        transition: opacity 1s;
    }
    .fade-leave{
        /* opacity: 1; */
    }
    .fade-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style> 