<template>
<div>
    <div class="row" id="printMe">




      
        <div class="col s12 m12 l12">
            <div id="basic-tabs" class="card card card-default scrollspy">
                    <div class="card-content pt-5 pr-5 pb-5 pl-5">
                      <div id="invoice">
                        <div class="invoice-header">
                          <div class="row section">

                            <div class="col s12 m12 l12">
                              <h5 class="text-uppercase center-align strong">Kartu Rencana Studi (KRS)</h5>
                            </div>
                          </div>
                          <div class="row section">
        <div class="card-content ">
            <p class="caption">
                <div class="col s6 place p-0 mb-1">
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Nim</div>
                        <div class="col s9">
                            <p class="m-0">: {{dataKRS.studentcourseplan.student.code}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Nama</div>
                        <div class="col s9">
                            <p class="m-0">: {{dataKRS.studentcourseplan.student.fullname}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Angkatan</div>
                        <div class="col s9">
                            <p class="m-0">: 2017</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Smt. / IPK</div>
                        <div class="col s9">
                            <p class="m-0">: 1 / {{dataKRS.studentcourseplan.student.gpa}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s6 place p-0 mb-1">
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Fakultas</div>
                        <div class="col s9">
                            <p class="m-0">: {{dataKRS.studentcourseplan.student.program.faculty.name}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Prodi</div>
                        <div class="col s9">
                            <p class="m-0">: {{dataKRS.studentcourseplan.student.program.name}}</p>
                        </div>
                    </div>                    
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Status</div>
                        <div class="col s9">
                            <p class="m-0">: {{(dataKRS.studentcourseplan.student.status)?"Aktif":"Tidak Aktif"}}</p>
                        </div>
                    </div>
                    <div class="col s12 place p-0">
                        <div class="col s3 ">Dosen</div>
                        <div class="col s9">
                            <p class="m-0">: Agung Asmara, ST.MT</p>
                        </div>
                    </div>
                </div>
            </p>
        </div>
                          </div>
                        </div>
                        <div class="invoice-table">
                          <div class="row">
                            <div class="col s12 m12 l12">
                              <table class="highlight responsive-table">
                                <thead>
                                  <tr>
                                    <th >#</th>
                                    <th >Mata Kuliah</th>
                                    <th >Kode</th>
                                    <th >Dosen</th>
                                    <th >SKS</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(mtk,idx) in dataKRS.studentcourseplan.courseplanitem">
                                    <td>{{idx+1}}</td>
                                    <td>{{mtk.course.name}}</td>
                                    <td>{{mtk.course.code}}</td>
                                    <td>{{mtk.lecture.fullname}}</td>
                                    <td>{{mtk.course.credit}} SKS</td>
                                  </tr>
                                  <tr class="border-none">
                                    <td colspan="3">Total SKS</td>
                                    <td class="cyan strong white-text">34 SKS</td>
                                    <td class="white-text pl-1"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="invoice-footer mt-6">
                          <div class="row">
                            <div class="col s6 m6 l6">
                              <p class="strong">Catatan :</p>
                              <p>___________________________________________</p>
                              <p>___________________________________________</p>
                              <p>___________________________________________</p>
                              <p class="strong">Note :</p>
                              <ul>
                                <li>Banyu Langit neng ono duur khayangan.</li>
                              </ul>
                            </div>
                            <div class="col s6 m6 l6 center-align">
                              <p>Bandung, 04/01/2021</p>
                              <p>Mengetahui,</p>
                              <p>Penasehat Akademik</p>
                              
                              <br/>
                              <br/>
                              <br/>
                              <p>(I Dewa Gede Agung Asmara)</p>
                              <p>NIP. 113061101</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
                        <div class="row">

                        <div class="input-field col s6 right">
                            <button @click.prevent= "printKRS" class="btn cyan waves-effect waves-light right" type="submit" name="action">Print KRS
                                <i class="material-icons right">print</i>
                            </button>
                        </div>
                    </div>
</div>
</template>

<script>

import AxiosMixin from './mixins/axiosMixinsRencanastudiStudent.js';
import VueHtmlToPaper from 'vue-html-to-paper';


const options = {
  name: 'Kartu Rencana Studi',
  specs: [
    'fullscreen=yes',
    // 'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'http://localhost:8000/modern/app-assets/vendors/vendors.min.css',
    'http://localhost:8000/modern/app-assets/css/themes/vertical-modern-menu-template/materialize.css',
    'http://localhost:8000/modern/app-assets/css/themes/vertical-modern-menu-template/style.css',
    'http://localhost:8000/modern/app-assets/css/custom/custom.css',

  ]
}

Vue.use(VueHtmlToPaper, options);
// Vue.use(VueHtmlToPaper);

export default {
    mixins:[AxiosMixin],
    props:['datakrs'],
    data() {
         return {
          dataKRS:{}
            
         }

    },
    created(){
        this.initial()
    },
    methods:{ 
            printKRS() {
              // Pass the element id here
              this.$htmlToPaper('printMe');
            },
            initial(){
                this.dataKRS = this.datakrs
                this.dataKRS.courseplan = JSON.parse(this.datakrs.courseplan)
                this.dataKRS.studentcourseplan.student = JSON.parse(this.dataKRS.studentcourseplan.student)
                // this.dataKRS.studentcourseplan.studentcourseplan = JSON.parse(this.dataKRS.studentcourseplan.studentcourseplan)
                // this.dataKRS.studentcourseplan.student = JSON.parse(this.dataKRS.studentcourseplan.student)
            }
            
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
    
    .multiselect__tags {

        border: 0;
         border-bottom:1.5px solid #EE82EE;
         border-radius: 0
    }
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        transition: opacity 1s;
    }
    .fade-leave{
        /* opacity: 1; */
    }
    .fade-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style> 