<template>
<div>
<form class="forms-sample">
    <div class="row">

        <div class="col-sm-6">

            <div class="form-group">
                <label for="exampleInputUsername1">Tahun Ajaran</label>
                <input type="number" class="form-control" id="status" placeholder="Tahun Ajaran" v-model="data.year" v-validate="'required|numeric'" name="year" data-vv-as="Tahun Ajaran">
                <div class="text-danger small">{{ veeErrors.first('year') }}</div>
            </div>   



           
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Semester</label>
                <input type="number" class="form-control" id="status" placeholder="Semester" v-model="data.semester" v-validate="'required|numeric'" name="semester" data-vv-as="Semester">
                <div class="text-danger small">{{ veeErrors.first('semester') }}</div>
            </div>   
          

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Program</label>
                <multiselect
                  name="program"
                  v-model="data.program"
                  v-validate="'required'"
                  track-by="code"
                  :custom-label="labelProgram"
                  :options="programs"
                  data-vv-as="Program Studi"
                  :allow-empty="false"
                ></multiselect>
                <div class="text-danger small">{{ veeErrors.first('program') }}</div>
            </div>
        </div>
                <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Status</label>
                <input type="number" class="form-control" id="status" placeholder="Status" v-model="data.status" v-validate="'required|numeric'" name="status" data-vv-as="Status Slot">
                <div class="text-danger small">{{ veeErrors.first('status') }}</div>
            </div>   
          

        </div>
    </div>


    
    

    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-2">Back</button>
    <button type="submit" @click.prevent="submit()" class="btn btn-primary mr-2">Submit</button>
</form>
</div>
</template>

<script>
import AxiosMixin from './mixins/axiosMixins.js';

export default {
    props:['dataprop'],
    mixins:[AxiosMixin],
    data() {
         return {
            url:'',
            urlgetProgram:`program/list`,
            type:'',
            data:{},
            programs:[]
         }

    },
    created(){
        this.initial()
        this.getDataProgram()
    },
    methods:{  
        initial(){
           this.url  = this.dataprop.url         
           this.type = this.dataprop.type    
           if(!_.isEmpty(this.dataprop.data)){
                this.data = this.dataprop.data

           }
        },    
        labelProgram ({ name }) {
          return `${name}`
        },
        getDataProgram(){
            let self = this
            axios.get(this.urlgetProgram).then(function(response) {
               self.programs = response.data
            })
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(value){
            let self = this
            let data = _.cloneDeep(value)
            data.program = JSON.stringify(data.program)
            let formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.data = response.data
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
    .time {
      display: inline-block;
      align-items: center;
    }

    .time.before::before {
      content: "-";
    }

    
</style>
